/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
/* body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
} */  

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
 font-family: Arial, Helvetica, sans-serif;
 color: #2e2e2e;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1 {
  font-size: clamp(2.5rem, 2rem + 3vw, 6rem);
  text-align: center;
  text-transform: uppercase;
  /* color: #fff; */
  /* margin-bottom: 2em; */
  margin-bottom: 1em;
  /* opacity: 0; */
}

header,
.overflow-section h2,
.bg-black h2
 {
  font-family: "Bebas Neue", sans-serif;
}

.top__content {
position: relative;
background-color: black;
/* min-height: 100vh; */
height: 100vh;
overflow: hidden;
}

.logo__container {
  width: 50px
}

.top__content .video__container {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 10;
}

.top__content .video__container > video {
  width: 100%;
  height: 100%;
}

header {
  font-size: 1.5rem;
  position: absolute;
  inset: 0;
  z-index: 999;
  padding: 1em;
  height: 10vh;
}

.nav {
  position: absolute;
  inset: 0;
  top: 15vh;
  left: 16px;
}

.nav a {
  color: #ffc300;
}

.nav a,
.cta,
section > .options ul a {
  text-decoration: none;
}

.menu p {
  color: #ffc300;
  text-shadow: 2px 2px #000;
}
.menu .close-btn {
  color: #fff;
}

.top__content_body {
  flex-direction: column;
  gap: 2em;
  position: absolute;
  inset: 0;
  top: 50%;
  transform: translateY(-50%);
  /* margin: auto; */
  z-index: 999;
}

.top__content_text {
  font-family: Mogra, sans-serif, system-ui;
  font-size: clamp(2.876rem, 2rem + 2.5vw, 4rem);
  color: #fff;
  text-align: center;
  text-shadow: 2px 4px 5px #000;
  text-transform: uppercase;
  /* line-height: 1.2; */
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  aspect-ratio: 1;
  background-color: #000;
  border-radius: 50%;
  overflow: hidden;
  transition: all 500ms;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.search-box:hover {
  background-color: #3b3b3b;
  transform: scale(1.5);
  cursor: pointer
}

.search-box > input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
}

.search-box .fa-search {
  color: #fff;
  margin-left: 50%;
  transform: translateX(-50%); 
  /* position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;
}

.input-group {
  width: 100%;
  /* outline: 1px solid red; */
}

/* .location-input, 
.professional-input {
  position: relative;
}

.location-input .fa-search,
.professional-input .fa-search {
  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;
} */

.search-input {
  text-indent: 40px;
  height: 55px;
  width: 100%;
  border-radius: 10px;
  /* background-color: transparent;
  border:none; */
}

.search-input:focus{
  box-shadow: none;
 
}

.search-box--expand {
  position: absolute;
  inset: 0;
}

.search-box--expand #map {
  height: 600px;
}

.search-box-container {
  color: #acaaaa;
  background-color: #000;
  padding: 1em;
  height: 100vh;
}
.search-btn {
  height: 50px;
  margin-bottom: 2em;
/*   gap: 1em */
}

.search-btn > input[type="search"] {
  flex-grow: 2;
  padding: .8em;
  height: 100%;
  border: 0px;
}

.search-btn > .close-btn {
  color: #fff;
  border: 1px solid #fff;
  height: 100%;
  padding: .5em 1em
}

.search-results ul {
  list-style: none;
  
}

.search-results ul a {
  display: inline-block;
  /* color: #acaaaa; */
  color: #fff;
  padding-block: .5em;
}

.search-results ul,
.search-results .options {
  margin-block: 1em;
}

.search-results .options {
  font-size: .8rem;
}

.search-results .options > div + div {
  margin-top: 1em;
}

.cta-btn-group {
  width: 100%;
  gap: 1em;
  max-width: 350px;
  margin-top: 2em !important;
}

.cta-btn-group > .cta {
  text-decoration: underline;
  color: #acaaaa;
  text-align: center;
  flex: 0 0 50%;
  cursor: pointer;
}

.cta-btn-group > .cta:hover {
  color: #29bf12;
}


section {
  padding-block: 2em;
  /* height: 100vh; */
}

.zoom-out-section {
  color: #fff;
  text-align: center;
  flex-direction: column;
  position: relative;
  /* line-height: 1.2; */
  height: 100vh;
  /* min-height: calc(100vh + 50vh); */
  background-color: rgb(2,0,36);
  overflow: hidden;
  isolation: isolate;
  /* background-image: url(/images/layered-steps-haikei.svg);
  background-repeat: no-repeat; 
  background-size: 0%; */
}

.zoom-out-section p {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.zoom-out-section .second-text {
  /* opacity: 0; */
}

.zoom-out-section > .cta-text {
  flex-direction: column;
  font-size: 3rem;
  color: #fff;
}


section > .options {

  border-bottom: 1px solid #5c5c5c;
  /* font-size: .75rem; */
  /* font-family: ; */
} 

section > .options h3 {
  color: #ffd60a;
  line-height: 1;
  margin: 1em 0 .5em
} 

section > .options p:last-of-type {
  margin-bottom: 3em;
  /* text-transform: lowercase; */
}

section > .options ul {
  flex-direction: column;
  list-style: none;
  text-align: center;
}

section > .options ul a {
 color: rgb(2,0,36);
 transition: opacity 500ms;

}

section > .options ul a:hover {
  /* color: #acaaaa */
  opacity: 0.7;
}

section > .options .icon {
  font-size: 2rem;
  color: #fff;
  background-color: #413543;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-inline: auto;
}

section > .intro {
  /* position: relative;
  flex-direction: column;
  align-items: flex-start; */
}

.intro-section {
  font-size: 2rem;
  text-align: center;
  /* line-height: 1.2; */
  position: relative;
  /* color: #fff; */
  /* background-color: rgba(9,9,121,1); */
}

.intro-section h2 {
  color: #003566;
  /* color: #ffc300; */
  margin-bottom: 1em;
}

.overflow-section {
  position: relative;
  /* background-image:
linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px); */
/* background-size: 0%; */
/* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
/* filter: contrast(80%); */
}

.overflow-section h2,
.bg-black h2 {
  font-size: 2.5rem;
  color: #ffc300;
}

.overflow-section .bg-img {
  position: absolute;
  inset: 0;
  /* width: 50%; */
  /* max-width: 700px; */
  
  background-image: url(/images/puzzle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  filter: brightness(30%);
  /* left: 50%; */
  /* transform: translateX(-200%); */
  /* background-color: red; */
  overflow: hidden;
  z-index: -1;
  /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); */
  transform: scale(0);
}

.overflow-section .bg-img > img {
  /* position: absolute; */
  /* max-width: 100%; */
  /* aspect-ratio: 1;
  object-fit: cover; */
  /* border-radius: 50%; */
  /* scale: 0; */
}

section > .intro h3 {
  /* font-family: "Bebas Neue", sans-serif; */
}

section > .intro p + p{
/* margin-top: 1em; */
} 

.intro > .animated-video {
  /* width: 100%;
  
  aspect-ratio: 1;
  max-height: 350px;
  overflow: hidden; */
  /* position: absolute;
  inset: 0; */
 
}

.intro > .animated-video video {
  /* width: 100%;
  height: 100%; */
  
  /* object-fit: cover; */

  /* height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -100;
  filter: opacity(0.15); */
}

.info-text > .cta {
  margin-bottom: 2em;
}

.info-text > .cta {
  margin-top: 2em;
}

.overflow-section {
  overflow: hidden;
}

.overflow-section .info {
  flex-direction: column;
  align-items: flex-start;
  /* gap: 1em; */
}

.carousel {
  overflow-x: auto;
  /* -webkit-overflow-scrolling: touch; google this */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.images__container {
  flex-wrap: nowrap;
  gap: 1em;
  margin-top: 1em;
 transition: transform 500ms;
  
  /* background-color: aqua; */
}



.image__container {
  text-align: center;
 flex: 0 0 250px;
 padding: 1em;
 border: 1px solid #000;
 border-radius: 10px;
 overflow: hidden;

}

.image__container > img {
  border-radius: 10px;
}

.image__container > h3 {
  font-size: 1rem;
  /* font-weight: 700; */
  text-transform: uppercase;
  color: #04749c;
  margin-block: 1em;
}

.image__container.active {
  transform: translateX(0%);
}

.dots {
width: 100%;
gap: 1em;
margin-top: 1.5em;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}

.dot.active {
  background-color: #444444;
}

.video-section {
  overflow: hidden;
}

.bg-black {
  color: #fff;
  background-color: #000814;
  /* background-color: #fff; */
}

.bg-black .cta {
  margin-bottom: 3em;
  /* background-color: #29bf12 !important; */

}

.bg-black h2 {
  /* color: #F0EB8D; */
  /* line-height: 1.2; */
  margin-bottom: 1em;
}

.bg-black p {
  margin-bottom: 2em;
}

.bg-black .video__container,
.video__container > video {
  width: 100%;
}

.video__container > video {
  object-fit: cover;
}

footer {
  color: #fff;
  background-color: #001d3d;
  padding-block: 2em;
}

.footer-nav {
  margin-top: 1em;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer__container {
  gap: 2em;
}

footer .social__links {
align-items: flex-start;
  gap: .5em;
}

footer .social__links li {
  list-style: none;
  width: 20px;
  height: 20px;
}

footer .social__links svg  {
  fill: #ffc300;
}

footer .right-col {
  flex-direction: column;
}

footer .right-col > p {
  font-size: .7rem;
  color: #acaaaa;
  text-align: center;
}

/* media queries */

@media  screen and (min-width: 37.5em) {
header {
  background-color: rgba(0, 0, 0, 0.5);
}
  .menu {
    /* width: 100%; */
    /* padding: 1em; */
  }

  .nav {
    position: unset;
    display: block !important;  
  }

  .nav ul {
    display: flex;
    gap: .5em;
  }

  .nav ul a:not([class]) {
    color: #fff;
    /* text-shadow: 1px 1px 4px #fff; */
  }

  .menu p,
  .close-btn:not(.search-btn > .close-btn)  {
    display: none !important;
  }

  .menu .join-btn {
    /* font-size: .875rem; */
  color: #fff;
  background-color: #ffc300;
  padding: .25em .5em;
  border-radius: 99vw;
  }

  .menu .login-btn {
    /* font-size: .875rem; */
  /* color: #fff; */
  background-color: #fff;
  padding: .25em 1em;
  border-radius: 99vw;
  }

}

@media screen and (min-width: 59.375em){ 
  /* .top__content_text {
    font-size: 5rem;
    line-height: 1;
  } */

  section > .options ul {
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
  }

 .overflow-section .info {
    flex-direction: row;
    justify-content: space-between;
    /* gap: 2em; */
    gap: 4em;
  }

  .overflow-section h2 {
    font-size: 4rem;
    line-height: 1;
    max-width: 500px;
    padding-inline-start: .25em;
    border-left: 2px solid #fff;
    text-shadow: 2px 2px 10px #000;
    /* border-left: 2px solid #04749c; */
  }

  .overflow-section .info > * {
    flex-basis: 100%;
   
  }

  .overflow-section .info p {
     color: #fff;
  }

  .images__container {
    flex-direction: column;
    margin-top: 0;
    gap: 4em;
  }

  .image__container {
    text-align: left;
    padding: 0;
    border: none;
  }

  .image__container > img {
    display: none
  }

  .image__container > h3 {
    font-size: 1.5rem;
    /* margin-top: 0; */
  }

  .overflow-section,
  .bg-black {
    /* line-height: 1.2; */
    height: 100vh;
    padding-block: 4em;
  }

  .overflow-section p,
  .bg-black p {
  font-size: 1.5rem;
  }

  .overflow-section .info > p,
  .bg-black p {
    margin-bottom: 1em;
  }
  
  /* .overflow-section .info-text > .cta {
    margin-bottom: 5em;
  } */

  .carousel {
    max-width: 600px;
    /* max-width: 450px; */
  }
  .dots {
    display: none !important;
     }

     .image__container {
      flex-basis: 100%;
      width: 100%;
      /* opacity: 0; */
      /* box-shadow: 0 0 50px 15px #48abe0; */
     }

     .video-section {
      height: 600px;
     }

     .bg-black .video__container,
     .bg-black ,.video__container > video {
      height: 100%;
     }

  footer .left-col,
  .footer-nav ul {
    display: flex;
    gap: 1em;
  }   

  footer .right-col > p {
    margin-top: 2em;
  }
  
}

@media screen and (min-width: 61.25em){

  .overflow-section .container {
    /* max-width: 65%; */
    /* justify-content: center; */
    /* gap: 1em; */
  }
  
  .carousel {
    overflow-x: hidden;
  }

    .image__container {
      flex-grow: 2;
    }

    .animated-video {
      width: 500px;
    }

    footer .right-col {
      flex-direction: row;
      align-items: center;
      gap: 3em
    }

  
    footer .right-col > p {
      margin: 0;
    }
}

/* animations */

/* @-webkit-keyframes glowing {
  0% {   background-color: #ece9a4; -webkit-box-shadow: 0 0 3px #ece9a4; }
  50% {background-color: #ffd60a; -webkit-box-shadow: 0 0 40px #ffd60a; }
  100% { background-color: #ffc300; -webkit-box-shadow: 0 0 3px #ffc300; }
}

@-moz-keyframes glowing {
  0% {   background-color: #ece9a4; -webkit-box-shadow: 0 0 3px #ece9a4; }
  50% {background-color: #ffd60a; -webkit-box-shadow: 0 0 40px #ffd60a; }
  100% { background-color: #ffc300; -webkit-box-shadow: 0 0 3px #ffc300; }
}

@-o-keyframes glowing {
  0% {   background-color: #ece9a4; -webkit-box-shadow: 0 0 3px #ece9a4; }
  50% {background-color: #ffd60a; -webkit-box-shadow: 0 0 40px #ffd60a; }
  100% { background-color: #ffc300; -webkit-box-shadow: 0 0 3px #ffc300; }
} */

@-webkit-keyframes glowing {
  0% {   background-color: #a0f093; -webkit-box-shadow: 0 0 3px #a0f093; }
  50% {background-color: #5dd14c; -webkit-box-shadow: 0 0 40px #5dd14c; }
  100% { background-color: #29bf12; -webkit-box-shadow: 0 0 3px #29bf12; }
}

@-moz-keyframes glowing {
  0% {   background-color: #a0f093; -webkit-box-shadow: 0 0 3px #a0f093; }
  50% {background-color: #5dd14c; -webkit-box-shadow: 0 0 40px #5dd14c; }
  100% { background-color: #29bf12; -webkit-box-shadow: 0 0 3px #29bf12; }
}

@-o-keyframes glowing {
  0% {   background-color: #a0f093; -webkit-box-shadow: 0 0 3px #a0f093; }
  50% {background-color: #5dd14c; -webkit-box-shadow: 0 0 40px #5dd14c; }
  100% { background-color: #29bf12; -webkit-box-shadow: 0 0 3px #29bf12; }
}
@keyframes glowing {
  0% {  background-color: #a0f093; -webkit-box-shadow: 0 0 3px #a0f093; }
  50% { background-color: #5dd14c; box-shadow: 0 0 40px #5dd14c; }
  100% { background-color: #29bf12; box-shadow: 0 0 3px #29bf12; }
}


/* utilities */

/* .overlay  {
  width: 100%;
  height: 100%;
  background-color: #000;
} */

.yellow-text {
  color: #ffd60a;
}

.green-text {
  color: #29bf12
}

.black-text {
  /* color: #000814; */
}


.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.hidden {
  display: none;
}

.radial-gradient {
  position: absolute;
  inset: 0;
  margin: auto;
  /* transform: translateY(-50%); */
  width: 100%;
  aspect-ratio: 1;
  background: #04749c;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  filter: blur(10px);
  border-radius: 50%;
  z-index: -1;
  transform: scale(1);
  transform: translateY(-50%);
  /* background-blend-mode: color-dodge; */
}

/* .cta {
  display: inline-block;
  color: #000;
  background-color: #fff;
  padding: 1em 1.5em;
  margin-block: 2em;
  border: 1px solid #000;
  border-radius: 99vw;
} */


/* CSS */
.cta:not(.cta-btn-group > .cta) {
  appearance: button;
  background-color: #003566;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #000 4px 4px 0 0,#fff 4px 4px 0 1px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.cta:not(.cta-btn-group > .cta):active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.cta:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.cta:not(.cta-btn-group > .cta):hover,
.cta:not(.cta-btn-group > .cta):hover {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}


@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.btn-outline {
  color: #fff;
  background-color: #537FE7;
}


.floating-img {
  position: absolute;
/* opacity: 0; */
  /* width: 850px; */
}

.p2 {
  /* transform: rotate(20deg); */
}