:root {
    --spacer-1em: 1em;
    --spacer-2em: 2em;
    --spacer-3em: 3em;
    --spacer-4em: 4em;
    --spacer-5em: 5em;
    --spacer-6em: 6em;

    /* colors */
    /* --clr-text-primary: #2e2e2e; */
    --clr-text-primary: rgb(22 19 54);
    --clr-text-primary-light: rgba(22 19 54 / .25);
    --clr-white: #fff;
    --clr-offWhite: rgb(250, 250, 250);
    --clr-lightGrey: #acaaaa;
    --clr-black: #000;
    --clr-blue: rgb(49, 62, 245);
    --clr-green: rgb(36 188 151);
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
/* body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
} */  

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--clr-text-primary);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}



/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.top__content {
position: relative;
background-color: var(--clr-black);
/* min-height: 100vh; */
height: 100vh;
overflow: hidden;
}

.logo__container {
  width: 50px
}

.top__content .video__container {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 10;
}

.top__content .video__container > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
    font-size: 1.5rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 999;
    padding-block: var(--spacer-1em);
    height: 15vh;
}

section {
    padding-block: var(--spacer-4em);
    position: relative;
    overflow-x: hidden;
}

h1, 
h2,
.mission .para-1,
.img-w-text,
.grid > * {
    text-align: center;
}

h1,
h2 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.header-content {
  position: relative;
  padding: var(--spacer-1em);
  width: 100%;
  /* background-color: var(--clr-black); */
}

header .menu {
  /* background-color: #000;
  position: absolute;
  inset: 0;
  padding: var(--spacer-2em);
  height: 100vh;
  z-index: -1; */
}

header .menu p {
  font-weight: 600;
  letter-spacing: -2px;
  color: var(--clr-white);
  cursor: pointer;
  
/* color: #ffc300; */
/* text-shadow: 2px 2px #000; */
}

header .header-content .logo {
  position: relative;
  align-self: flex-start !important;
  z-index: 999;
}


header .menu .close-btn {
color: var(--clr-white);
position: relative;
z-index: 999;
/* position: absolute;
top: var(--spacer-1em);
right: var(--spacer-1em);
z-index: 9999; */
}

.nav {
  
    display: flex;
    /* justify-content: center; */
    position: absolute;
    inset: 0;
    height: 100vh;
    padding: 2em;
    /* align-items: center; */
    background: black;
}
 
.nav ul {
  /* height: 100%; */
  width: 85%;
  margin-inline: auto;
  justify-content: space-around;
  /* margin-top: var(--spacer-2em); */
}

.nav ul,
.nav ul .list,
.nav ul .cta-btns {
  flex-direction: column;
}

.nav a {
  font-weight: 600;
  color: var(--clr-white);
  /* color: #ffc300; */
}

.nav ul .list li {
  margin-top: var(--spacer-1em);
}

.nav ul .cta-btns {
  gap: var(--spacer-1em);
}

.nav ul .cta-btns li > a {
  display: block;
  text-align: center;
    padding-block: .5em;
    /* padding-inline: var(--spacer-2em); */
    border-radius: 999px; 
}

.nav ul .cta-btns Li > .join-btn {
  margin-top: var(--spacer-2em);
 outline: 1px solid var(--clr-blue)
}

.nav ul .cta-btns Li > .login-btn {
  color: var(--clr-white);
  background-color: var(--clr-blue);
}

header .menu {
 
  /* height: 50px; */
}

/* .nav .cta-btns {
  flex-direction: column;
  gap: var(--spacer-1em);
}  */



.top__content_body {
  flex-direction: column;
    gap: var(--spacer-2em);
    position: relative;
    inset: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    margin-top: var(--spacer-3em);
    z-index: 100;
}

/* search container styles */

.search__container {
    flex-direction: column;
}

.search-inputs {
    width: 100%;
    max-width: 700px;
}

.search-inputs input {
  text-indent: 1.5em;
    padding: var(--spacer-1em);
    margin-bottom: var(--spacer-1em);
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 1px solid var(--clr-white);
    border-radius: 999px;
}

.search-inputs input::-webkit-input-placeholder { /* Edge */
    text-indent: 1.5em;
  }
  
  
  .search-inputs input::placeholder {
    text-indent: 1.5em;
  }


.search-inputs > .input {
    position: relative;
}

.search-inputs .icon {
    color: var(--clr-white);
    position: absolute;
    top: var(--spacer-1em);
    left: var(--spacer-1em);
}

.search__container .options {
    gap: var(--spacer-1em);
    margin-bottom: var(--spacer-2em);
}

.search__container button {
    font-size: .876rem;
    color: var(--clr-white);
    padding: .5em;
    background-color: var(--clr-blue);
    /* background-color: rgb(22 19 54); */
    border: 0;  
    border-radius: .25em;
    cursor: pointer;
}

.search__container button:hover {
  filter: brightness(115%);
}


.top__content_text {
    /* font-family: Mogra, sans-serif, system-ui; */
/*     font-size: clamp(2rem, 2rem + 1vw, 4rem); */
    font-size: 1.5rem;
    color: var(--clr-white);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 4px 5px var(--clr-black);
    text-transform: uppercase;
    /* line-height: 1.2; */
  }

  .top__content_text > p {
    max-width: 40ch;
    margin-inline: auto;
  }

  /* intro section styles */

  .intro .para > p {
    padding: var(--spacer-1em);
    margin-block: var(--spacer-2em);
    /* border: 1px solid rgb(22 19 54); */
    border: 1px solid var(--clr-text-primary);
    border-radius: 5vw;
    box-shadow: 5px 10px var(--clr-green);
  }

  .intro .cta,
  .featured .cta {
    margin-top: var(--spacer-3em);
  }

  .intro .cta > a {
    font-weight: bold;
    /* color: rgb(22 19 54); */
    color: var(--clr-blue);
    text-decoration: underline;
    
    /* text-decoration-skip: none; */
  }

  .intro .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: var(--spacer-2em);
  }

  .intro img {
   /* max-width: 600px; */
    /* position: absolute; */
   
  }

  .intro img:first-of-type {
    /* width: 600px;
    top: -150px;
    opacity: .5; */
    /* top: 300px; */
  }

  .intro img:last-of-type {
    /* width: 250px;
    right: -50px;
    top: 50px; */
    /* filter: opacity(.7); */
  }

  /* mission section styles */

  .mission {
    background-color: var(--clr-offWhite);
    /* margin-top: var(--spacer-4em); */
  }

  .mission .flex-container > p {
    margin-top: var(--spacer-4em);
  }

  .mission .flex-container > p > .cta,
  .login-main .form-container button,
  .join-main .form-container button {
    display: block;
    text-align: center;
    padding: var(--spacer-1em);
    margin-top: var(--spacer-1em);
    border-radius: 999px;
  }

  .mission .flex-container > p > .cta,
  .login-main .form-container .sign-in-btn,
  .join-main .form-container .agree-and-join-btn {
    color: var(--clr-white);
    background-color: var(--clr-blue);
  }

  .mission .flex-container > p > .cta {
    width: 150px;
    transition: filter 500ms ease;
  }

  .mission .flex-container > p > .cta:hover,
  .mission .flex-container > p > .cta:focus-visible {
    filter: brightness(115%);
  }

  .mission .para-1 {
    margin-block: var(--spacer-2em);
  }

  .mission .text-content > img {
    filter: hue-rotate(235deg)
  }

  /* list section styles */

  .list .flex-container {
    flex-direction: column;
  }

  .list h2 {
    color:var(--clr-blue);
  }

  .list .cards {
    flex-direction: column;
      gap: var(--spacer-2em);
  }

  
.img-w-text {
    padding: var(--spacer-1em);
    margin-block: var(--spacer-2em);
    /* border: 1px solid rgb(22 19 54); */
    border: 1px solid var(--clr-text-primary);
    border-radius: 5vw;
    box-shadow: 5px 10px var(--clr-green);
}

.img-w-text > p {
    max-width: 35ch;
    margin-inline: auto;
}

.img-w-text img {
    width: 100%;
    /* height: 300px;
    object-fit: fill; */
    border-radius: 4vw;
}

.img-w-text h3 {
    margin-block: var(--spacer-1em);
}

/* grid section */


.grid {
    background-color: var(--clr-blue);
    background: rgb(22,19,54);
    background: radial-gradient(circle, rgba(22,19,54,1) 0%, rgba(49,62,245,1) 36%);
    /* color: #fff; */
    /* background-color: rgb(22 19 54); */
    /* background-color: rgb(231, 228, 228); */
    /* background-color: rgb(205, 245, 235); */
}

.grid h2 {
    font-size: 3rem;
    color: var(--clr-white);
}

.grid .join-text {
  /* color: var(--clr-green); */
}

.grid .para-1,
.grid .para-2 {
    background-color: var(--clr-offWhite);
    /* background-image: linear-gradient(153deg, rgba(22,19,54,1) 0%, rgba(36,188,151,1) 75%); */
    padding: var(--spacer-1em);
    margin-block: var(--spacer-2em);
    border-radius: 5vw;
    box-shadow: 10px 10px var(--clr-blue), 11px 11px var(--clr-offWhite);
    /* box-shadow: 10px 10px rgb(36 188 151); */
}

.grid .grid-items {
    display: grid;
}

.grid-items img {
    border: 2px solid var(--clr-offWhite);
    border-radius: 5vw;
    /* box-shadow: 10px 10px 15px rgb(32, 31, 58); */
    /* mix-blend-mode: luminosity; */
}

/* featured section */

.featured h2 {
    margin-block: var(--spacer-1em);
}

.featured h3 {
    margin-bottom: var(--spacer-1em);
}

.featured ul {
    list-style: none;
    margin-left: var(--spacer-1em);
    padding: 0;
    border-left: 1px solid var(--clr-black);
}

.featured ul li {
    position: relative;
    padding-left: var(--spacer-1em);
    margin-bottom: var(--spacer-1em);
    /* border-left: 1px solid #000; */
}

.featured ul li::before {
    position: absolute;
    content: "";
    left: -.6em;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* border: 1px solid rgb(36 188 151); */
    background-color: var(--clr-black);
    transition: all 500ms ease; 
}

.featured ul li:hover::before  {
    /* border: 1px solid rgb(36 188 151); */
    background-color: var(--clr-green);
    /* cursor: pointer; */
}

.featured .cta > a {
    color: var(--clr-white);
    background-color: var(--clr-blue);
    padding: var(--spacer-1em);
    border-radius: 999px;
    transition: filter 500ms ease;
}

.featured .cta > a:hover,
.featured .cta > a:focus-visible {
  filter: brightness(115%);
}

/* footer styles */


footer {
    color: var(--clr-offWhite);
    /* background-color: #001d3d; */
    background-color: var(--clr-blue);
    padding-block: 2em;
  }
  
  .footer-nav {
    margin-top: 1em;
  }

  .footer-nav ul[role="list"] li {
    margin-top: .5em;
  }
  
  footer a {
    color: inherit;
    text-decoration: none;
    transition: color 500ms ease;
  }

  footer a:hover,
  footer a:focus-visible {
    color: var(--clr-lightGrey);
  }
  
  .footer__container {
    gap: 2em;
  }
  
  footer .social__links {
  align-items: flex-start;
    gap: .5em;
  }
  
  footer .social__links li {
    list-style: none;
    width: 20px;
    height: 20px;
  }
  
  footer .social__links svg  {
    fill: var(--clr-offWhite);
    transition: fill 500ms ease;
  }

  footer .social__links li:hover svg,
  footer .social__links li:focus-visible svg {
    fill: var(--clr-green);
  }
  
  footer .right-col {
    flex-direction: column;
  }
  
  footer .right-col > p {
    font-size: .7rem;
    color: var(--clr-lightGrey);
    text-align: center;
  }

 

  .contact-header > header,
  .login-header > header,
  .join-header > header {
    --clr-text-primary-light: rgba(22 19 54 / .5);
    position: relative;
    background-color: var(--clr-text-primary);
    /* box-shadow: 0px 0px 25px var(--clr-lightGrey); */
  }

  form {
    max-width: 500px;
    margin-inline: auto;
  }

   /* contact form styles */

   .contact-main {
    overflow: hidden;
   }
 
    .form-container input, 
    .form-container textarea { 
    outline: none;
    }

    .form-container input:focus-visible, 
    .form-container textarea:focus-visible,
    .form-container button:focus-visible { 
    box-shadow: 0px 0px 5px var(--clr-blue);
    }
    
    .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: var(--clr-whi);
    height: calc(100vh - 200px);
    
    }


    .form-container h1 {
    margin-bottom: var(--spacer-1em);
    }

    form {
    position: relative;
    width: 100%;
    border-radius: 30px;
    background: var(--clr-offWhite);
    box-shadow: 0px 0px 50px var(--clr-text-primary-light);
    }


    .form-left-decoration,
    .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: var(--clr-blue);
    }

    .form-left-decoration {
    bottom: 60px;
    left: -30px;
    }

    .form-right-decoration {
    top: 60px;
    right: -30px;
    }

    .form-left-decoration:before,
    .form-left-decoration:after,
    .form-right-decoration:before,
    .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: var(--clr-white);
    }

    .form-left-decoration:before {
    top: -20px;
    }

    .form-left-decoration:after {
    top: 20px;
    left: 10px;
    }

    .form-right-decoration:before {
    top: -20px;
    right: 0;
    }

    .form-right-decoration:after {
    top: 20px;
    right: 10px;
    }

    .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--clr-white);
    }

    .form-inner {
    padding: 2.5em;
    }

    .form-inner input,
    .form-inner textarea {
    display: block;
    width: 100%;
    padding: var(--spacer-1em);
    margin-bottom:var(--spacer-1em);
    border: none;
    border-radius: 20px;
    background: var(--clr-offWhite);
    box-shadow: 0px 0px 15px var(--clr-lightGrey);
    }

    .form-inner textarea {
    resize: none;
    }

    .form-inner button {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--clr-white);
    background-color: var(--clr-blue);
    padding: var(--spacer-1em);
    margin-top: var(--spacer-1em);
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 500ms ease;

    }

    .form-inner button:hover,
    .form-inner button:focus-visible,
    .login-main .form-container .sign-in-btn:hover,
    .login-main .form-container .sign-in-btn:focus-visible
     {
    filter: brightness(115%);
    } 

    /* about page styles */

    .about-header header {
      --clr-text-primary-light: rgba(22 19 54 /.5);
      background-color: var(--clr-text-primary-light);
      /* position: relative; */
    }

    .about-header  .flex-container {
      width: 100%;
    }

    .hero {
      position: relative;
      height: 70vh;
      overflow: hidden;
      isolation: isolate;
      /* border: 5px solid red; */
    }

    .hero::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--clr-text-primary);
      filter: opacity(0.5);
      /* z-index: -1; */
      /* mix-blend-mode: overlay; */
    }

    .hero img {
      object-fit: cover;
      height: 100%;
    }

    .hero-text {
      font-size: clamp(1.5rem, 1.5rem + 1vw, 4rem);
      color: var(--clr-white);
      font-weight: bold;
      text-align: center;
      line-height: 1.2;
      text-shadow: 2px 4px 5px var(--clr-black);
      text-transform: uppercase;
      position: absolute;
      inset: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }

    .hero-text span {
      color: var(--clr-green);
      display: block;
      margin-top: var(--spacer-1em);
    }

    .about-main {
      text-align: center;
      line-height: 1.5;
    }

    .about-main h2 {
      margin-bottom: var(--spacer-1em);
    }

    .about-main p,
    .about-list .card {
      max-width: 80ch;
      margin-inline: auto;
    }

    .about-main p + p {
      margin-top: var(--spacer-2em);
    }

    .about-main .about-branding {
      color: #fff;
      background-color: var(--clr-blue);
    }

    .about-main .about-branding .cta,
    .about-main .about-list .cta {
      display: inline-block;
      font-weight: bold;  
      margin-top: var(--spacer-2em);
      border-radius: 999px;
      transition: all 500ms ease;
    }

    .about-main .about-branding .cta {
      color: var(--clr-text-primary);
      padding: var(--spacer-1em);
      background-color: var(--clr-white);
    }

    .about-main .about-branding .cta:hover,
    .about-main .about-branding .cta:focus-visible {
      color: var(--clr-white);
      background-color: var(--clr-green);
    }

    .about-main .about-list .cta {
      color: var(--clr-white);
      padding-inline: var(--spacer-2em);
      padding-block: var(--spacer-1em);
      background-color: var(--clr-green);
    }

    .about-main .about-list .cta:hover,
    .about-main .about-list .cta:focus-visible {
      filter: brightness(90%);
    }

    .about-list .cards {
      flex-direction: column;
    }

    .about-list .cards > .card {
      padding: var(--spacer-2em);
      margin-block: var(--spacer-2em);
      /* border: 1px solid rgb(22 19 54); */
      border: 1px solid var(--clr-text-primary);
      border-radius: 5vw;
      box-shadow: 5px 10px var(--clr-green);
    }

    .about-list .cards > .card h3 {
      margin-bottom: var(--spacer-1em);
    }

    .about-list .cards > .card span {
      color: var(--clr-lightGrey);
    }


/* login and join page styles */
  
.login-main,
.join-main {
  padding-block: 4em;
}

.login-main input::placeholder,
.join-main input::placeholder {
  font-size: .8rem;
  color: var(--clr-lightGrey);
}

.login-main .form-container button,
.join-main .form-container button {
  cursor: pointer;
}

.login-main .left-col,
.login-main .form-container > .email-input,
.login-main .form-container > .password-input,
.join-main .left-col,
.join-main .form-container > .email-input,
.join-main .form-container > .password-input {
  flex-direction: column;
  /* align-items: center; */
}
.login-main p:first-child,
.join-main p:first-child {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: var(--spacer-1em);
}

.login-main p:first-child  > span {
  color: var(--clr-green);
}

  .login-main .form-container,
  .join-main .form-container  {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacer-1em);
    padding: var(--spacer-2em);
    height: 100%;
  }

  .login-main .form-container .forgot-password-text,
  .join-main .form-container .agree-text {
    font-size: .8rem;
  }

  .login-main .form-container .forgot-password-text > a,
  .join-main .form-container .agree-text > span > a {
    color: var(--clr-blue);
    cursor: pointer;
  }

  .login-main .form-container .forgot-password-text > a {
    display: inline-block;
    margin-block: var(--spacer-1em);
  }

  .login-main .form-container .forgot-password-text > a:hover,
  .login-main .form-container .join-btn > a:hover,
  .join-main .form-container .agree-text > span > a:hover {
    color: var(--clr-text-primary);
  }

  .login-main .form-container input,
  .join-main .form-container input {
    padding: .5em;
    margin-top: .5em;
    border-radius: .25em;
  }

  .login-main .form-container .sign-in-btn,
  .join-main .form-container .agree-and-join-btn {
    border: 0px;
  }

  .login-main .form-container button:not(.sign-in-btn) {
    background-color: transparent;
  }

  .login-main .form-container .google-sign-in-btn,
  .join-main .form-container .google-sign-in-btn  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .25em;
  }

  .login-main .form-container .google-logo,
  .join-main .form-container .google-logo
   {
    max-width: 20px;
  }

  .login-main .form-container .join-btn > a,
  .join-main .form-container .sign-in-btn > a {
    color: var(--clr-blue);
    cursor: pointer;
  }

  .login-main .form-container .borders,
  .join-main .form-container .borders {
    position: relative;
    text-align: center;
  }

  .login-main .form-container .borders::before,
  .login-main .form-container .borders::after,
  .join-main .form-container .borders::before,
  .join-main .form-container .borders::after
   {
    content: "";
    position: absolute;
    width: 45%;
    max-width: 150px;
    height: 2px;
    background-color: var(--clr-text-primary-light);
  }

  .login-main .form-container .borders::before,
  .join-main .form-container .borders::before {
    left: 0;
  }

  .login-main .form-container .borders::after,
  .join-main .form-container .borders::after {
    right: 0;
  }

  .login-main .form-container .borders  > span,
  .join-main .form-container .borders  > span {
    text-align: center;
    display: inline-block;
  }


/* media queries */

@media (min-width: 35.5em) {
    form {
    width: 80%;
    }
    
    }

@media screen and (min-width: 46.875em){
    .mission .flex-container,
    .mission .flex-container > .text-content {
        display: flex;
    }

    .intro .para,
    .mission .para-1,
    .grid .grid-items > p {
        font-size: 1.5rem;
    }


    /* intro section styles */

    /* .intro .flex-container {
        align-items: center;
        gap: var(--spacer-3em);
    } */

    /* .intro .flex-container > .para {
        flex-basis: 65%;
        max-width: 500px;
    } */

    /* mission section styles */

    .mission .flex-container {
        flex-direction: column;
        gap: var(--spacer-2em);
    }

    .mission .flex-container > p {
        margin-top: 0px;
      }

    .mission .para-1 {
        text-align: left;
        max-width: 50ch;
    }

    .mission .flex-container > .text-content {
      align-items: center;
      justify-content: space-between;
      gap: var(--spacer-1em);
    }

    .mission .flex-container > .text-content > img {
        width: 300px;
       
    }

    .grid .grid-items > p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 50em){

  /* header styles */
  header {
      background-color: var(--clr-text-primary-light);
  
  }

  .header-content .menu {
    position: relative;
    width: 100%;
    /* height: 100%; */
  }

  .header-content .menu p {
      display: none !important;
  }

  .header-content .menu .nav {
    display: block !important;
     position: unset;
     padding: 0px;
     height: 100%;
     background-color: transparent;

  }

  .nav ul,
  .nav ul .list,
  .nav ul .cta-btns {
  flex-direction: row;
  gap: .5em
}
   
  .nav ul {
    align-items: center;
    width: 100%;
    margin-inline: 0px;
  }

  
  .nav a {
    font-weight: 600;
    font-size: 1rem;
    color: var(--clr-white);
  }
  
  .nav ul .list li {
    margin-top: 0px;
    /* gap: .5em; */

  }

  .nav ul .cta-btns li > a {
    display: inline-block;
    padding-block:.5em;
    padding-inline: var(--spacer-2em);
    
  }
  
  .nav ul .cta-btns Li > .join-btn {
    margin-top: 0px;
  }
}

@media screen and (min-width: 59.375em) {
  .intro h1,
 section h2 {
    font-size: 2.5rem;
    margin-bottom: var(--spacer-1em);
  }

  .grid,
  .featured {
    padding-bottom: var(--spacer-6em);
  }
  
    
  /* intro section styles */

  .intro .flex-container {
    display: flex;
  }

  .intro .para {
    align-self: center;
    flex-basis: 80%;
  }
  .intro {
        /* height: 100vh; */
    }

   
    /* .intro img:first-of-type {
        left: 5vw;
        width: 700px;
     
       }
 
       .intro img:last-of-type {
         left: 280px;
         top: 80px;
        } */

    .list .cards {
      flex-direction: row;
        /* display: flex; */
        /* flex-wrap: wrap; */
      /* justify-content: center; */
        gap: var(--spacer-2em);
    }

    .list .cards > .img-w-text {
        flex-basis: 33.33%;
       
    }

    .list .cards > .img-w-text img {
      height: 200px;
        object-fit: fill;
    }

    .mission .flex-container > .text-content > img {
        width: 500px;
    }

    /* grid section styles */

    .grid h2 {
      margin-bottom: var(--spacer-2em);
    }

    .grid h2:first-of-type {
      margin-bottom: 0px;
    }

    .grid .grid-items {
        grid-template-columns: minmax(300px, 500px) minmax(250px, 500px);
        align-items: center;
        place-content: center;
        gap: var(--spacer-3em);
        margin-top: var(--spacer-3em);
        
        /* grid-template-rows: repeat(2, 1fr); */
    }

    .grid-items > * {
      height: 100%;
    }

    .grid-items > p {
      display: flex;
      align-items: center;
    }

    .grid-items > .para-2 {
     grid-column: 2;
     grid-row: 2;
    }

    .grid-items > img:last-of-type {
      grid-column: 1;
     }
 

    /* footer styles */
    footer .left-col,
    footer .left-col ul {
        display: flex;
    }


    footer .left-col
     {
      align-items: center;
        gap: var(--spacer-4em);
        flex-basis: 70%;
        gap: 1em;
    }

    .footer-nav {
      margin-top: 0px;
    }

    footer .left-col ul 
     {
        gap: var(--spacer-1em);
        
    }

    footer .left-col ul li {
      margin-top: 0px;
    }

    footer .right-col {
        flex-direction: row;
        align-items: center;
        gap: var(--spacer-2em);
    }
}

@media screen and (min-width: 75em) {
  /* .intro .flex-container {
    display: flex;
  } */
}

@media screen and (min-width: 90em){
  .intro p {
    text-align: center;
  }

  .intro .flex-container {
    /* margin-top: var(--spacer-6em); */
  }

  .featured .flex-container {
    display: flex;
    gap: var(--spacer-3em);
  }

  .featured h2 {
    margin-top: 0px;
  }

  .featured .flex-container > img {
    max-width: 50%;
  }
}

/* utilities */

.hidden {
    display: none
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
    align-items: center;
}

.text-green {
   /* color: rgb(36 188 151); */

}
